<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="TraceSourceApp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="myListener" 
        type="System.Diagnostics.TextWriterTraceListener" 
        initializeData="trace.log"
        traceOutputOptions="Timestamp">
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>